.header {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-text-primary);
}

.logo-icon {
    font-size: 1.5rem;
}